FLASK_APP=source.app:create_app
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=[]
PYTHONPATH=$(pwd)
FLASK_HOST=localhost
FLASK_PORT=[]
DATABASE_HOST=[]
DATABASE_PORT=[]
DATABASE_NAME=[]
POSTGRES_USER=[]
POSTGRES_PASSWORD=[]
POSTGRES_DB=[]
PGADMIN_DEFAULT_EMAIL=[]
PGADMIN_DEFAULT_PASSWORD=[]
PGADMIN_HOST=[]
PGADMIN_PORT=[]
REDIS_HOST=[] 
REDIS_PORT=[]
ADMIN_EMAIL=[]
ADMIN_PASSWORD=[]