<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Default {% endblock title %} | Orkestro </title>

    {# Carregando as dependências (/libs) #}
    <script src="{{ url_for('static', filename='libs/tailwindcss.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/qrcode.min.js') }}"></script>

    <!-- Elfsight Accessibility | Untitled Accessibility -->
    <script src="https://elfsightcdn.com/platform.js" async></script>
    <div class="elfsight-app-7ccd10fa-2c39-4542-9c97-7f6d3afcd0d4" data-elfsight-app-lazy></div>


    <script src="{{ url_for('static', filename='javascript/toggleSidenav.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/logout.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transitions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pluginAcessibility.css') }}">

    <link
            href="https://cdn.datatables.net/2.3.6/css/dataTables.bootstrap5.min.css"
            rel="stylesheet"
    >

    {# Carregamento dinâmico de Scripts #}
    {% block scripts %}
    {% endblock scripts %}

    {# Importing all macros #}
    {% import "macros/buttons.jinja2" as buttons %}
    {% import "macros/alerts.jinja2" as alerts %}
    {% import "macros/inputs.jinja2" as inputs %}
    {% import "macros/modals.jinja2" as modals %}
    {% import "macros/cards.jinja2" as cards %}
    {% import "macros/errors.jinja2" as errors %}
    {% import "macros/loaders.jinja2" as loaders %}

</head>
<body class="min-h-screen flex flex-col">
<div class="flex flex-1 min-h-0">

    
    {# Modals #}
    {{ modals.modal_logout(
    header_text="Confirmar Saída",
    description_text="Tem certeza de que deseja sair da sua conta?"
            ) }}

    {{ modals.modal_about_orkestro(

    ) }}

    {{ modals.suggestion_admin() }}


    {# Sidenav #}
    {% block sidenav %}
    {% endblock sidenav %}

    {# Main Content #}
    <div class="flex-1 flex flex-col min-h-0">
        {# Footer #}
        <footer class="text-white h-[66px] flex-shrink-0 bg-[#18191B] transition-all duration-300 flex items-center justify-center">
            {% block navbar %}
            {% endblock navbar %}
        </footer>

        {# Dashboard #}
        <main class="flex-1 overflow-auto p-6 bg-gray-50">
            {% block dashboard %}
            {% endblock dashboard %}
        </main>
    </div>
</div>
<script>
    let currentUserRoles = {{ strategy.get("profile")["roles"] }}
    let aboutMeStore = "{{ url_for('about_auth.about_me_store') }}"
</script>
<script src="{{ url_for('static', filename='javascript/global_preLoader.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/about_me_stores.js') }}" defer></script>
<script src="{{ url_for('static', filename='javascript/about_orkestro.js') }}"></script>
</body>
</html>
