<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Default {% endblock title %} | Cocina </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}

    {# Importing all macros #}
    {% import "macros/buttons.jinja2" as buttons %}
    {% import "macros/alerts.jinja2" as alerts %}
    {% import "macros/inputs.jinja2" as inputs %}

</head>
<body class="w-full h-screen">
<header class="w-full h-28">
    {% block sidenav %}
    {% endblock sidenav %}
</header>

<main class="w-full h-3/4">
    {% block content %}
    {% endblock content %}
</main>

<footer class="w-full h-[135px] bg-red-400">
    {% block footer %}
    {% endblock footer %}
</footer>
</body>
</html>