{% extends "layouts/default.jinja2" %}

{% block title %}
    Carrinho
{% endblock title %}

{% block sidenav %}
<section class="bg-gray-900 h-full flex items-center justify-start">
    <a href="/menus/{{ strategy['menu_slug'] }}" class="p-3 ml-5 bg-green-200 rounded-2xl">
        VOLTAR
    </a>
</section>
{% endblock sidenav %}

{% block content %}
    <section class="bg-gray-100 py-10 w-full h-full flex items-center justify-center">
        {# Modals #}
        {{ modals.modal_finish_order(modal_id="modalFinishOrderId") }}

        <div class="bg-white  p-8 w-[30%] rounded-2xl">
            <h1 class="text-2xl font-semibold mb-6 flex items-center gap-3">
                <img src="{{ url_for('static', filename='icons/cart.png') }}" class="w-7 h-7">
                Seu Carrinho
            </h1>
            <div id="cartItems" class="flex items-center justify-center flex-col gap-3">
                {# Aqui renderiza os itens do carrinho #}
            </div>
            <hr class="my-3">
            <div class="flex items-center justify-start mb-2 gap-2">
                <span class="text-xl font-semibold">Total:</span>
                <span id="cartTotal" class="text-2xl font-bold text-green-600">R$ 0,00</span>
            </div>
            <div class="flex justify-between flex-col gap-1">
                <button class="bg-blue-600 w-full hover:bg-blue-700 text-white px-6 py-3 rounded-xl font-medium shadow btn-finish-order-cart">
                    Finalizar Pedido
                </button>
                <button class="bg-red-600 hover:bg-red-700 text-white font-semibold
                   px-6 py-3 rounded-xl shadow transition btn-clear-cart"
                        title="Limpar carrinho">
                    Limpar carrinho
                </button>
            </div>
        </div>
    </section>
    <script> const menuSlug = "{{ strategy['menu_slug'] }}"</script>
    <script src="{{ url_for('static', filename='javascript/cartOperations.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/sendCustomerData.js') }}" defer></script>
{% endblock content %}

{% block footer %}
    <section class="bg-gray-900 h-[128px] w-full">

    </section>
{% endblock footer %}