{% extends "layouts/categories.jinja2" %}

{% block title %}
    {{ strategy["menu_name"] }}
{% endblock title %}

{% block navbar %}
    <header class="bg-gray-900 text-white py-6 h-[140px] shadow-md flex items-center justify-center">
        <div class="container mx-auto px-6 flex items-center justify-between">
            <div class="flex items-center gap-4">
                <img src="" alt="Store Logo"
                     class="h-24 w-24 rounded-full border-2 border-gray-700">
                <div>
                    <h1 class="text-2xl font-bold">
                        Cardápio |
                        <span id="menu-name"></span>
                    </h1>
                    <p id="menu-description" class="text-sm text-gray-300">Descrição do Cardápio</p>
                    {% if strategy["menu_roles"] == "COMMON" %}
                        <span title="O comércio está com o cardápio ativado."
                              id="menu-status"
                              class="inline-block px-4 py-1 mt-1 text-sm font-semibold text-green-700
                            bg-green-100 border border-green-300 rounded-full shadow-sm">
                        Aberto
                    </span>
                    {% endif %}
                </div>
            </div>
            <nav class="hidden md:flex gap-6">
                <a href="#" id="btn-about-store" class="hover:text-gray-300 transition">Sobre o Comércio</a>
                <a href="#" id="btn-contact-menu" class="hover:text-gray-300 transition">Contato</a>
            </nav>
        </div>
    </header>
    <div class="w-full flex items-center justify-center bg-gray-50 border-gray-300 px-4 h-14">
        <section class="w-[62%] h-full flex items-center justify-left border-b-[3.5px]">
            <a href="#"
               id="btn-back-menu"
               class="flex items-center justify-center">
                <img
                        src="{{ url_for('static', filename='icons/left-arrow.png') }}"
                        alt="Voltar" ,
                        title="Voltar"
                        class="w-8 h-7 hover:scale-110 transition-transform duration-200"
                />
            </a>
            <p id="title-category-name" class="text-lg text-left font-semibold text-black pl-5">
                {{ strategy['category_name'] | upper }}
            </p>

            <input
                    type="text"
                    id="searchInput"
                    placeholder="Pesquisar"
                    class="border h-9 pl-2 ml-5 rounded-xl w-full text-black text-sm"
            />
        </section>
    </div>

    {% if strategy["menu_roles"] == "COMMON" %}
    <div id="navbar-status-option" class="w-full flex items-center justify-center hidden bg-white">
        <p class="bg-red-100 text-base text-center flex
        items-center justify-center w-full h-10 font-bold text-red-900">Loja Fechada</p>
    </div>
    {% endif %}
    <script>
        const menuClient = "{{ url_for('api.render_menu_with_slug', slug=strategy['menu_slug']) }}"
        let aboutMeStore = "{{ url_for('about_auth.about_me_store') }}"
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const slug = "{{ strategy['menu_slug'] }}"
            const btnBack = document.getElementById("btn-back-menu")

            btnBack.addEventListener("click", (e) => {
                e.preventDefault()
                window.location.href = `/menus/${slug}`
            })

            const searchInput = document.getElementById("searchInput");
            searchInput.addEventListener("input", () => {
                const searchTerm = searchInput.value.toLowerCase();

                const productItems = document.querySelectorAll(".product-item");

                productItems.forEach(item => {
                    const name = item.querySelector("h3")?.textContent.toLowerCase() || "";
                    const description = item.querySelector("p")?.textContent.toLowerCase() || "";

                    item.style.display = (name.includes(searchTerm) || description.includes(searchTerm)) ? "" : "none";
                });
            });
        })
    </script>
    <script src="{{ url_for('static', filename='javascript/menus.js') }}" defer></script>
{% endblock navbar %}

{% block menu %}
    <section id="" class="no-scrollbar h-full w-3/4 flex flex-col items-center
    justify-center gap-4 p-10 space-y-3">
        <div id="productsSection" class="grid grid-cols-1 sm:grid-cols-2
            md:grid-cols-2 items-start justify-center w-[97%]
            gap-2 h-full place-items-center overflow-y-auto no-scrollbar">
            {# As Categorias serão renderizadas aqui. #}
        </div>
    </section>
    <script>
        const categoryId = '{{ strategy["category_id"] }}'
        const menuSlug = '{{ strategy["menu_slug"]  }}'
        const menuId = "{{ strategy["menu_id"] }}"

        $(document).ready(() => {
            console.log(`Category ID in Products Page: ${categoryId}`)
            const productsSection = $("#productsSection")

            $.ajax({
                url: `/api/categories/${categoryId}/products`,
                method: "GET",
                success: function (response) {
                    const products = response.data
                    console.log("Resposta:", response)

                    productsSection.empty()

                    if (!products || products.length === 0) {
                        productsSection.append(`
                    <p class="text-gray-500 text-center">Nenhum produto encontrado para esta categoria.</p>
                `)
                        return
                    }

                    products.forEach(product => {
                        let urlRedirect = `/menus/${menuSlug}/products/${product.id}`;
                        const productCard = `
                    <div class="relative bg-white rounded-2xl p-6 w-[630px]
                    h-[230px] border-2 border-gray-300 flex items-center text-center transform
                    transition duration-300 product-item" data-id=${product.id}>
                        <div class="w-2/3 h-full flex items-center justify-center bg-gray-100 rounded-xl overflow-hidden border border-gray-200">
                            <img data-img="${product.image_url}" src="${product.image_url || '/static/images/default.png'}" alt="${product.name}" class="w-full h-full object-cover img-product-id">
                        </div>
                        <div class="w-full h-full">
                            <div class="w-full h-3/2">
                                <h3 data-name="${product.name}" class="text-[20px] font-semibold flex justify-between itens-center
                                text-gray-800 pl-3 pt-3 text-left name-product-id">
                                    ${product.name}
                                    ${product.isPromotional
                                        ? `<aside class="inline-flex items-center gap-1 px-3 py-1 text-xs font-semibold text-yellow-700 mb-1 bg-yellow-100 rounded-full">
                                                                            Promoção
                                                                        </aside>`
                                        : ``}
                                </h3>
                               <p data-price="${product.price}" class="text-gray-800 font-medium mt-1 pl-3 text-left price-product-id">
                                ${product.isPromotional ? `
                                    <span class="flex flex-col">
                                            <span class="text-xs text-gray-400 line-through">
                                                R$ ${Number(product.price ?? 0).toFixed(2)}
                                            </span>
                                            <span class="text-sm font-semibold text-green-600">
                                                R$ ${Number(product.price_promotional ?? 0).toFixed(2)}
                                            </span>
                                        </span>
                                            ` : `
                                        <span class="text-sm text-gray-500">
                                            R$ ${Number(product.price ?? 0).toFixed(2)}
                                        </span>
                                        `
                                    }
                                </p>
                                <p class="text-sm text-gray-500 line-clamp-2 pl-3 text-left">${product.description || "Sem descrição"}</p>
                            </div>
                            {% if strategy["menu_roles"] == "COMMON" %}
                                <div class="w-full h-[42%] flex justify-end items-end gap-2">
                                    <button class="bg-gray-800 w-1/3 p-2 rounded-2xl text-white text-sm font-semibold btn-buy-now">
                                        Comprar agora
                                    </button>
                                    <button class="bg-gray-800 w-1/2 p-2 rounded-2xl text-white text-sm font-semibold btn-add-cart-product">
                                        Adicionar no Carrinho
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                        <!-- Obter detalhes do Produto! -->
                       <!-- <a href="#" class="absolute inset-0 z-10"></a> -->
                    </div>
                `
                        productsSection.append(productCard)
                    })
                },
                error: function (xhr, status, error) {
                    console.error("Erro ao carregar produtos da categoria")

                    console.group("Detalhes do erro")
                    console.log("Status HTTP:", xhr.status)
                    console.log("Status text:", xhr.statusText)
                    console.log("Response text:", xhr.responseText)
                    console.log("Ready state:", xhr.readyState)
                    console.log("Status da requisição:", status)
                    console.log("Mensagem de erro do jQuery:", error)
                    console.groupEnd()

                    $("#productsSection").html(`
                <p class="text-red-500 text-center">Erro ao carregar produtos. Tente novamente mais tarde.</p>
            `)
                }
            })
            productsSection.on("click", ".btn-add-cart-product", function (e) {
                let productId = $(this).closest(".product-item").data("id");
                let productPrice = $(this).closest(".product-item").find(".price-product-id").data("price");
                let productImg = $(this).closest(".product-item").find(".img-product-id").data("img")
                let productName = $(this).closest(".product-item").find(".name-product-id").data("name")
                console.log(`ProductID: ${productId} - ProductPrice: ${productPrice} - ProductImg: ${productImg} - ProductName: ${productName}`)

                let cart = JSON.parse(window.localStorage.getItem("cartOrder")) || {
                    menu_id: menuId,
                    products: []
                };

                let existingProduct = cart.products.find(p => p.product_id === productId);
                if (existingProduct) {
                    existingProduct.quantity += 1;
                } else {
                    cart.products.push({
                        product_id: productId,
                        productImg: productImg,
                        productName: productName,
                        quantity: 1,
                        price: productPrice
                    });
                }
                window.localStorage.setItem("cartOrder", JSON.stringify(cart));
                console.log(`Produto ${productId} adicionado ao carrinho.`);
                console.log("Carrinho:", cart);
            });

            productsSection.on("click", ".btn-buy-now", function (e) {
                let productId = $(this).closest(".product-item").data("id");
                let productPrice = $(this).closest(".product-item").find(".price-product-id").data("price");
                let productImg = $(this).closest(".product-item").find(".img-product-id").data("img");
                let productName = $(this).closest(".product-item").find(".name-product-id").data("name");

                let newCart = {
                    menu_id: menuId,
                    products: [{
                        product_id: productId,
                        productImg: productImg,
                        productName: productName,
                        quantity: 1,
                        price: productPrice
                    }]
                };

                localStorage.setItem("cartOrder", JSON.stringify(newCart));
                console.log("Carrinho novo:", newCart);

                window.location.href = `/menus/${menuSlug}/cart`;
            })

            // Redirecionar para a aba de pagamentos / confirmar identidade
            const btnFinishOrder = $(".btn-finish-order")
            btnFinishOrder.on("click", function () {
                window.location.href = `/menus/${menuSlug}/cart`;
            });
        })
    </script>
    {#  <script src="{{ url_for('static', filename='javascript/productsInMenu.js') }}" defer></script> #}
{% endblock menu %}

