{% extends "layouts/administrative.jinja2" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/sidebar.jinja2" %}
    <script src="{{ url_for('static', filename='javascript/toggle_sidenav.js') }}" defer></script>
{% endblock sidenav %}

{% block content %}
    <section class="w-full h-full bg-white-50 flex flex-col items-center justify-center">
        DASHBOARD
    </section>
{% endblock content %}

{% block footer %}
    <aside class="w-auto h-full">
        Orkestra © 2025 | version 1.0.0
    </aside>
{% endblock footer %}