{% extends "layouts/administrative.jinja2" %}

{% block title %}
    Overview
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/sidebar.jinja2" %}
    <script>
        const logoutURL = "{{ url_for('sign_in_auth.end_session_store') }}"
    </script>
{% endblock sidenav %}

{% block dashboard %}
    <section class="w-full h-full bg-red-50 flex flex-col items-center justify-center">
        Overview
    </section>
{% endblock dashboard %}

{% block navbar %}
    <aside class="w-full pl-10 text-lg font-extrabold">
        Dashboard | <span class="font-extralight">Seja bem-vindo novamente,</span> <span class="font-extralight"
                                                                             id="store-name-navbar">Company name</span>
    </aside>
{% endblock navbar %}

{% block footer %}
    <aside class="w-auto h-full">
        Orkestro © 2025 | versão 1.0.0
    </aside>
{% endblock footer %}