{% extends "layouts/administrative.jinja2" %}

{% block title %}
    Editar Cardápio
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/sidebar.jinja2" %}
    <script>
        const logoutURL = "{{ url_for('sign_in_auth.end_session_store') }}"
    </script>
{% endblock sidenav %}

{% block dashboard %}
    <section id="" class="w-full h-full flex flex-col items-center justify-start gap-3">
        {# Modals #}
        {{ modals.modal_create_category() }}
        {{ modals.modal_confirm_operation(header_text="Confirmação", description_text="Deseja realmente excluir sua categoria?", id_btn_confirm="btn-confirm-category-delete") }}
        {{ modals.modal_menu_status() }}

        {# Menu de Opções #}
        <aside class="w-full h-[90px] pl-5 flex items-center justify-start bg-gray-100 gap-3 rounded-3xl border-2 border-gray-300">
            {{ buttons.button_redirect(endpoint="main_frontend.views_menus_manager_dashboard", text="Voltar") }}
            <button id="btn-create-category" class="px-5 py-3 bg-gray-900 text-base text-white rounded-3xl hover:bg-gray-800 font-bold">
                Nova Categoria
            </button>
            <button class="px-5 py-3 bg-gray-900 text-base text-white rounded-3xl hover:bg-gray-800 font-bold">
                Configurações do Cardápio
            </button>
            <button id="btn-status-menu" class="px-5 py-3 bg-gray-900 text-base text-white rounded-3xl hover:bg-gray-800 font-bold">
                Status do Cardápio
            </button>
        </aside>
        {# Categorias serão renderizadas aqui #}
        <section
                class="gap-6 p-6 bg-gray-100 w-full rounded-3xl flex items-center justify-center border-2 border-gray-300">
            {% if strategy.get("profile")["hasCategories"] == True %}
                <section
                        id="categoriesContainer"
                        class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 p-6 bg-gray-200 w-full max-h-[65vh] overflow-y-auto rounded-3xl"
                >
                    {# As categorias serão renderizadas aqui! #}
                </section>
            {% elif strategy.get("profile")["hasCategories"] == False %}
                {{ errors.not_found(title="Nenhuma categoria encontrada.") }}
            {% endif %}
        </section>
    </section>
    <script>
        const menuId = "{{ strategy.get('profile')['menu_id'] }}"
        const getCategoriesURL = `/api/menus/${menuId}/categories`
    </script>
    <script src="{{ url_for('static', filename='javascript/category_operations.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/status_menu.js') }}" defer></script>
{% endblock dashboard %}

{% block navbar %}
    <aside class="w-full pl-10 text-lg font-extrabold">
        Editar Cardápio | <span id="menu-selected-edit" class="font-extralight"> Cardápio selecionado: {{ strategy["profile"]["menu_name"] }} | </span>
        <span class="font-extralight" id="store-name-navbar">Company name</span>
    </aside>
{% endblock navbar %}

{% block footer %}
    <aside class="w-auto h-full">
        Orkestro © 2025 | versão 1.0.0
    </aside>
{% endblock footer %}