{% extends "layouts/administrative.jinja2" %}

{% block title %}
Editar Cardápio
{% endblock title %}

{% block sidenav %}
{% include "partials/sidebar.jinja2" %}
<script>
    const logoutURL = "{{ url_for('api.end_session_store') }}"
</script>
{% endblock sidenav %}

{% block dashboard %}
<section id="" class="w-full h-full flex flex-col items-center justify-start gap-3">
    {# Modals #}
    {{ modals.modal_create_category() }}
    {{ modals.modal_edit_category() }}
    {{ modals.modal_edit_menu() }}
    {{ modals.modal_confirm_operation(
    modal_id="modalConfirmCategory",
    header_text="Confirmação",
    description_text="Deseja realmente excluir sua categoria?",
    id_btn_confirm="btn-confirm-category-delete") }}
    {{ modals.modal_confirm_operation(
    modal_id="modalConfirmProduct",
    header_text="Confirmação",
    description_text="Deseja realmente excluir seu produto?",
    id_btn_confirm="btn-confirm-product-delete") }}
    {{ modals.modal_menu_status() }}
    {{ modals.opening_hours() }}
    {{ modals.modal_add_product() }}
    {{ modals.modal_edit_category() }}
    {{ modals.modal_edit_product() }}
    {{ modals.modal_qr_code() }}

    {# Menu de Opções #}
    <aside
        class="w-full h-[90px] pl-5 flex items-center justify-start bg-gray-100 gap-3 rounded-3xl border-2 border-gray-300">
        {{ buttons.button_redirect(endpoint="vws.views_menus_manager_dashboard", text="Voltar") }}
        <button id="btn-create-category" class="px-5 py-3 bg-gray-900 text-base
                            text-white rounded-3xl hover:bg-gray-800 font-bold">
            Nova Categoria
        </button>
        {% if strategy.get("profile")["menu_roles"] == "COMMON" %}
        <button id="btn-status-menu" class="px-5 py-3 bg-gray-900 text-base
                            text-white rounded-3xl hover:bg-gray-800 font-bold">
            Status
        </button>
        <button id="btn-hours-config" class="px-5 py-3 bg-gray-900 text-base text-white 4
                    rounded-3xl hover:bg-gray-800 font-bold">
            Horários
        </button>
        {% endif %}
        <button id="btn-edit-menu-open" class="px-5 py-3 bg-gray-900 text-base text-white 4
                    rounded-3xl hover:bg-gray-800 font-bold">
            Editar Cardápio
        </button>
        <button id="btn-qrcode-open" class="px-5 py-3 bg-gray-900 text-base text-white 4
                    rounded-3xl hover:bg-gray-800 font-bold">
            QRCode
        </button>
    </aside>
    <section class="gap-6 p-6 bg-gray-100 w-full rounded-3xl flex
                items-center justify-center border-2 border-gray-300 ">
        {% if strategy.get("profile")["hasCategories"] == True %}
        <section id="categoriesContainer" class="grid sm:grid-cols-2 lg:grid-cols-1 gap-6
                            p-6 bg-gray-200 w-full max-h-[65vh]
                            overflow-y-auto rounded-3xl place-items-center">
            {# As categorias serão renderizadas aqui! #}
        </section>
        {% elif strategy.get("profile")["hasCategories"] == False %}
        {{ errors.not_found(title="Nenhuma categoria encontrada.") }}
        {% endif %}
    </section>
</section>
<script>
    const menuSlug = "{{ strategy.get('profile')['slug'] }}"
    const menuId = "{{ strategy.get('profile')['menu_id'] }}"
    const copyIdIcon = "{{ url_for('static', filename='icons/copy-alt-1.png') }}"
    const getCategoriesURL = `/api/menus/${menuId}/categories`
</script>
<script src="{{ url_for('static', filename='javascript/categoryOperations.js') }}" defer></script>
<script src="{{ url_for('static', filename='javascript/status_menu.js') }}" defer></script>
<script src="{{ url_for('static', filename='javascript/hours_configs.js') }}" defer></script>
<script src="{{ url_for('static', filename='javascript/editMenuInfos.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/QRCode.js') }}"></script>
{% endblock dashboard %}

{% block navbar %}
<aside class="w-full pl-10 text-lg font-extrabold">
    Editar Cardápio | <span id="menu-selected-edit" class="font-extralight"> Cardápio selecionado: {{
        strategy["profile"]["menu_name"] }} | </span>
    <span class="font-extralight" id="store-name-navbar">Company name</span>
</aside>
{% endblock navbar %}

{% block footer %}
<aside class="w-auto h-full">
    Orkestro © 2025 | versão 1.1.0
</aside>
{% endblock footer %}