{% extends "layouts/administrative.jinja2" %}

{% block title %}
    Editar Cardápio
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}

    {% include "partials/sidebar.jinja2" %}
    <script src="{{ url_for('static', filename='javascript/logout.js') }}" defer></script>
{% endblock sidenav %}

{% block dashboard %}
    <section class="w-full h-full bg-red-50 flex flex-col items-center justify-start">
        {# Modals #}
        {{ modals.modal_create_category() }}

        {# Menu de Opções #}
        <div class="w-full h-24 flex items-center justify-left">
            <aside class="w-1/3 flex items-center justify-center gap-3 bg-red-500">
                {{ buttons.button_redirect(endpoint="main_frontend.views_menus_manager_dashboard", text="Voltar") }}
                <button id="btn-create-category" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
                    Nova Categoria
                </button>
                <button class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
                    Configurações do Cardápio
                </button>
            </aside>
            <div class="bg-red-200">
                <p>Nome do Cardápio</p>
            </div>
        </div>

        {# Categorias serão renderizadas aqui #}
        <section class="w-full h-full bg-green-400">
            EDIT MENU
        </section>
    </section>
    <script>
        const menuId = "{{ strategy.get("profile")["menu_id"] }}"
        const getCategoriesURL = `/api/menus/${menuId}/categories`
    </script>
    <script src="{{ url_for('static', filename='javascript/category_operations.js') }}" defer></script>
{% endblock dashboard %}

{% block navbar %}
    <aside class="w-full pl-10 text-lg font-extrabold">
        Editar Cardápio | <span id="menu-selected-edit" class="font-extralight"> Cardápio selecionado: {{ strategy["profile"]["menu_name"] }} | </span>
        <span class="font-extralight" id="store-name-navbar">Company name</span>
    </aside>
{% endblock navbar %}

{% block footer %}
    <aside class="w-auto h-full">
        Orkestro © 2025 | versão 1.0.0
    </aside>
{% endblock footer %}