{% extends "layouts/default.jinja2" %}

{% block title %}
    Pagamento
{% endblock title %}

{% block sidenav %}
    <section class="bg-gray-900 h-full flex items-center justify-center">
        <h1 class="text-3xl text-white">Deseja finalizar o pedido?</h1>
    </section>
{% endblock sidenav %}


{% block content %}
<section class="w-full flex items-start justify-center py-10 bg-gray-100">

    {{ modals.modal_order_placed(modal_id="modalOrderPlaced") }}

    <div class="grid grid-cols-1 md:grid-cols-1 gap-8 w-full max-w-5xl px-4">
        <aside class="bg-white rounded-2xl p-6 border border-gray-200">
            <h1 class="text-2xl font-semibold text-gray-800 mb-5">Informações do Cliente</h1>
            <div class="space-y-3 text-gray-700">
                <p class="font-medium">Nome: <span id="client-name" class="font-normal"></span></p>
                <p class="font-medium">Telefone: <span id="client-phone" class="font-normal"></span></p>
                <p class="font-medium">Endereço: <span id="client-address" class="font-normal"></span></p>
                <p class="font-medium">Número: <span id="client-number" class="font-normal"></span></p>
            </div>
        </aside>
        <aside class="bg-white rounded-2xl p-6 border border-gray-200">
            <h1 class="text-2xl font-semibold text-gray-800 mb-5">Informações do Pedido</h1>

            <div id="order-items" class="grid grid-cols-1 md:grid-cols-2 place-items-center">
                {# Os produtos serão adicionados aqui dinamicamente #}
            </div>
        </aside>
        <aside class="bg-white rounded-2xl p-6 border border-gray-200">
            <div>
                <button class="bg-blue-600 w-full hover:bg-blue-700
                text-white px-6 py-3 rounded-xl font-medium shadow btn-place-order"
                        title="Realizar Pedido"
                >Finalizar Pedido</button>
            </div>
        </aside>
    </div>
</section>
    <script>
        const menuSlug = "{{ strategy['menu_slug'] }}"
        let storage = window.localStorage;
        let cartData = storage.getItem("cartOrder");
        let customerCredentialsData = storage.getItem("customerCredentials");

        customerCredentialsData = JSON.parse(customerCredentialsData);
        cartData = JSON.parse(cartData)

        let customerName = $("#client-name");
        let customerTelephone = $("#client-phone");
        let customerAddress = $("#client-address");
        let customerNumber = $("#client-number");

    </script>
    <script src="{{ url_for('static', filename='javascript/orderDetails.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/sendOrderToMenu.js') }}" defer></script>
{% endblock content %}


{% block footer %}
    <section class="bg-gray-900 h-[128px] w-full">

    </section>
{% endblock footer %}