{% extends "layouts/default.jinja2" %}

{% block title %}
    Home
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/navbar.jinja2" %}
{% endblock sidenav %}

{% block content %}
     <section class="w-full h-full bg-gray-100 flex flex-col items-center justify-center">

    <h1 class="text-5xl sm:text-6xl md:text-7xl font-extrabold text-gray-900 mb-6">
        Bem-vindo ao <span class="text-red-500">Orkestro</span>
    </h1>
    <p class="text-lg sm:text-xl md:text-2xl text-gray-600 mb-8 text-center max-w-2xl">
        Plataforma completa para gerenciamento de cardápios, atendimento via chatbot e análise de estatísticas,
        ajudando você a otimizar operações e melhorar a experiência dos clientes.
    </p>

    <p class="mt-6 text-gray-500 text-sm sm:text-base">
         Experimente o poder de gerenciar cardápios, atendimento e métricas em um único painel intuitivo.
    </p>
</section>
{% endblock content %}

{% block footer %}
    <section class="w-full h-[99px] flex items-center justify-center">
        Plataforma Orkestro
    </section>
{% endblock footer %}