{% extends "layouts/default.jinja2" %}

{% block title %}
    Início
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/navbar.jinja2" %}
{% endblock sidenav %}

{% block content %}
     <section class="w-full h-full bg-gray-100 flex flex-col items-center justify-center">

    <h1 class="text-5xl sm:text-6xl md:text-7xl font-extrabold text-gray-900 mb-6">
        Bem-vindo ao <span class="text-red-500">Orkestro</span>
    </h1>
</section>
{% endblock content %}

{% block footer %}
    <section class="w-full h-[126px] flex items-center justify-center">

    </section>
{% endblock footer %}