{% extends "layouts/default.jinja2" %}

{% block title %}
    Home
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/navbar.jinja2" %}
{% endblock sidenav %}

{% block content %}
    <section class="w-full h-full bg-white-50 flex flex-col items-center justify-center">
        Home Page
    </section>
{% endblock content %}

{% block footer %}
    {% include "partials/default_footer.jinja2" %}
{% endblock footer %}