{% extends "layouts/administrative.jinja2" %}

{% block title %}
    Gerenciar Cardápios
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/sidebar.jinja2" %}
    <script></script>
    <script src="{{ url_for('static', filename='javascript/toggle_sidenav.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/logout.js') }}" defer></script>
{% endblock sidenav %}

{% block dashboard %}
    <section class="w-full h-full bg-red-50 flex flex-col items-center justify-center">
       MENU MANAGER
    </section>
{% endblock dashboard %}

{% block navbar %}
    <aside class="w-full pl-10 text-lg font-extrabold">
        Perfil da Loja | <span class="font-extralight">Seja bem-vindo novamente,</span> <span class="font-extralight" id="store-name-navbar">Company name</span>
    </aside>
{% endblock navbar %}

{% block footer %}
    <aside class="w-auto h-full">
        Orkestro © 2025 | version 1.0.0
    </aside>
{% endblock footer %}