{% extends "layouts/administrative.jinja2" %}

{% block scripts %}

{% endblock scripts %}

{% block title %}
Pedidos
{% endblock title %}

{% block sidenav %}
{% include "partials/sidebar.jinja2" %}
<script>
    const logoutURL = "{{ url_for('api.end_session_store') }}"
</script>
{% endblock sidenav %}

{% block dashboard %}
<section class="w-full h-full flex items-center p-10 gap-4 bg-gray-100 rounded-3xl border-2 border-gray-300">

    {{ modals.modal_confirm_operation(
    modal_id="modalConfirmDeleteOrder",
    header_text="Confirmação",
    description_text="Deseja realmente rejeitar o pedido?",
    id_btn_confirm="btn-confirm-order-delete") }}

    {{ modals.modal_confirm_operation(
    modal_id="modalConfirmCancelOrder",
    header_text="Confirmação",
    description_text="Deseja realmente cancelar o pedido?",
    id_btn_confirm="btn-confirm-cancel-delete") }}

    {{ modals.modal_order_details(modal_id="modalDetailsOrder") }}


    <div class="h-full w-1/2  bg-orange-400 rounded-3xl border-2 flex items-center flex-col border-gray-300">
        <div class="flex items-center justify-between w-[95%] mx-auto mt-4 mb-4 px-5 py-3.5
                    bg-white rounded-2xl border border-gray-100
                    shadow-[0_2px_12px_rgba(0,0,0,0.07)]" id="orders-count-container">
        
            <h2 class="text-base font-semibold text-gray-700 tracking-tight">
                Pedidos Realizados
            </h2>
        
            <div class="relative inline-flex items-center justify-center w-10 h-10">
                <img src="{{ url_for('static', filename='icons/bell-2.svg') }}" class="w-6 h-6 opacity-70" />
                <span id="orders-count" class="absolute -top-1 -right-1
                             min-w-[1.25rem] h-5 px-1
                             flex items-center justify-center
                             text-[11px] font-bold text-white
                             bg-green-500 rounded-full
                             shadow transition-all duration-300">
                    0
                </span>
            </div>
        </div>
        <ul id="orders-list-done" class="w-[95%] max-w-4xl
            space-y-3 overflow-y-auto h-[600px] no-scrollbar">
            {# Aqui renderizam os pedidos realizados #}
        </ul>
    </div>
    <div class="h-full w-1/2 bg-yellow-300 rounded-3xl border-2 flex items-center flex-col border-gray-300">
        <div class="flex items-center justify-between w-[95%] mx-auto mt-4 mb-4 px-5 py-3.5
                    bg-white rounded-2xl border border-gray-100
                    shadow-[0_2px_12px_rgba(0,0,0,0.07)]" id="pending-count-container">
        
            <h2 class="text-base font-semibold text-gray-700 tracking-tight">
                Pedidos Pendentes
            </h2>
        
            <div class="relative inline-flex items-center justify-center w-10 h-10">
                <img src="{{ url_for('static', filename='icons/bell-2.svg') }}" class="w-6 h-6 opacity-70" />
                <span id="pending-count" class="absolute -top-1 -right-1
                             min-w-[1.25rem] h-5 px-1
                             flex items-center justify-center
                             text-[11px] font-bold text-white
                             bg-orange-400 rounded-full
                             shadow transition-all duration-300">
                    0
                </span>
            </div>
        
        </div>
        <ul id="orders-list-accepts" class="w-[95%] max-w-4xl
                space-y-3 overflow-y-auto h-[600px] no-scrollbar">
            {# Aqui renderizam os pedidos pendentes #}
        </ul>
    </div>
    <div class="h-full w-1/2 bg-green-400 rounded-3xl border-2 flex items-center flex-col border-gray-300">
        <div class="flex items-center justify-between w-[95%] mx-auto mt-4 mb-4 px-5 py-3.5
                    bg-white rounded-2xl border border-gray-100
                    shadow-[0_2px_12px_rgba(0,0,0,0.07)]" id="completed-count-container">
        
            <h2 class="text-base font-semibold text-gray-700 tracking-tight">
                Pedidos Concluídos
            </h2>
        
            <div class="relative inline-flex items-center justify-center w-10 h-10">
                <img src="{{ url_for('static', filename='icons/bell-2.svg') }}" class="w-6 h-6 opacity-70" />
                <span id="completed-count" class="absolute -top-1 -right-1
                             min-w-[1.25rem] h-5 px-1
                             flex items-center justify-center
                             text-[11px] font-bold text-white
                             bg-emerald-600 rounded-full
                             shadow transition-all duration-300">
                    0
                </span>
            </div>
        
        </div>
        <ul id="orders-list-finish" class="w-[95%] max-w-4xl
                space-y-3 overflow-y-auto h-[600px] no-scrollbar">
            {# Aqui renderizam os pedidos concluídos #}
        </ul>
    </div>
</section>
<script>
    let menuId = '{{ strategy["profile"]["menu_id"] }}'
    let orderId = "";
    const URLGetProductsOrder = `/api/orders/${orderId}/products`
    console.log(`ID do Pedido: ${orderId}`)
</script>
<script src="{{ url_for('static', filename='javascript/websocketOrders.js') }}" defer></script>
{% endblock dashboard %}

{% block navbar %}
<aside class="w-full pl-10 text-lg font-extrabold">
    Acompanhe seus Pedidos | <span class="font-extralight">Acompanhe todos os pedidos realizados em tempo real | </span>
    <span class="font-extralight" id="store-name-navbar"></span>
</aside>
{% endblock navbar %}

{% block footer %}

{% endblock footer %}