{% extends "layouts/default.jinja2" %}

{% block title %}
    Sign In
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/navbar.jinja2" %}
{% endblock sidenav %}

{% block content %}
    <section class="w-full h-full bg-white-50 flex flex-col items-center justify-center">
        {% include "partials/forms_login_store.jinja2" %}
    </section>
    <script>
        const loginURL = "{{ url_for('sign_in_auth.enter_the_plataform') }}";
    </script>
    <script src="{{ url_for('static', filename='javascript/login_account_store.js') }}" defer></script>
{% endblock content %}

{% block footer %}
    <aside class="w-full h-full">
        FOOTER
    </aside>
{% endblock footer %}