{% extends "layouts/default.jinja2" %}

{% block title %}
    Sign Up
{% endblock title %}

{% block sidenav %}
    <nav>
        SIDENAV
    </nav>
{% endblock sidenav %}

{% block content %}
    <section class="w-full h-full bg-purple-400">
        <p>SIGN UP!</p>
    </section>
{% endblock content %}

{% block footer %}
    <aside class="w-full h-full">
        FOOTER
    </aside>
{% endblock footer %}