{% extends "layouts/default.jinja2" %}

{% block title %}
    Registrar Comércio
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/navbar.jinja2" %}
{% endblock sidenav %}

{% block content %}
    <section class="w-full h-full bg-gray-100 flex flex-col items-center justify-center">
        {% include "partials/forms_register_store.jinja2" %}
    </section>
    <script>
        const createAccountStoreURL = "{{ url_for('sign_up_auth.create_new_account') }}"
    </script>
    <script src="{{ url_for('static', filename='javascript/create_account_store.js') }}" defer></script>
{% endblock content %}

{% block footer %}
    <section class="w-full h-[126px] flex items-center justify-center">

    </section>
{% endblock footer %}