{% extends "layouts/administrative.jinja2" %}

{% block title %}
    Profile
{% endblock title %}

{% block sidenav %}
    {# Dynamic rendering from the backend #}
    {% include "partials/sidebar.jinja2" %}
    <script>
        const logoutURL = "{{ url_for('sign_in_auth.end_session_store') }}"
    </script>
    <script src="{{ url_for('static', filename='javascript/toggle_sidenav.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/logout.js') }}" defer></script>
{% endblock sidenav %}

{% block dashboard %}
    <section class="w-full h-full bg-red-50 flex flex-col items-center justify-center">
        <h2 class="text-3xl font-extrabold mb-12 text-gray-800 tracking-wide">Store Profile</h2>

        <div class="w-full max-w-4xl bg-white rounded-3xl shadow-xl p-10 flex flex-col md:flex-row gap-8 transition-transform transform hover:scale-105 hover:shadow-2xl">

            <div class="flex-shrink-0 flex items-center justify-center md:justify-start">
                <img src="" alt="Store Logo"
                     class="rounded-xl w-44 h-44 object-cover border-4 border-gray-200 shadow-sm">
            </div>

            <div class="flex-1 flex flex-col justify-center gap-5">
                <h3 class="text-2xl md:text-3xl font-bold text-gray-700">Nome da Empresa</h3>
                <p class="text-gray-600 text-base md:text-lg"><strong>Endereço:</strong> Rua Exemplo, 123, Cidade,
                    Estado</p>
                <p class="text-gray-600 text-base md:text-lg"><strong>Telefone:</strong> (11) 1234-5678</p>
                <p class="text-gray-600 text-base md:text-lg"><strong>Email:</strong> contato@empresa.com</p>
                <p class="text-gray-600 text-base md:text-lg"><strong>Descrição:</strong> Breve descrição sobre a
                    empresa, seus produtos e serviços oferecidos. Pode conter algumas linhas para detalhar melhor.</p>
            </div>

        </div>

    </section>
{% endblock dashboard %}

{% block navbar %}
    <aside class="w-full pl-10 text-lg font-extrabold">
        Store Profile | <span class="font-extralight">Welcome back,</span> <span class="font-extralight" id="store-name-navbar">Company name</span>
    </aside>
{% endblock navbar %}

{% block footer %}
    <aside class="w-auto h-full">
        Orkestro © 2025 | version 1.0.0
    </aside>
{% endblock footer %}