{% macro button(endpoint, text) %}
    <a href="{{ url_for(endpoint) }}" class="">
        <button class="px-4 py-2 rounded bg-blue-500 text-white hover:bg-blue-600">
            {{ text }}
        </button>
    </a>
{% endmacro %}