{% macro global_loader() %}
<div id="preloader" class="fixed inset-0 flex items-center justify-center bg-white z-50 hidden">
    <!-- Spinner -->
    <div class="w-16 h-16 border-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
</div>
{% endmacro %}