{% import "macros/alerts.jinja2" as alerts %}

{% macro modal_logout(header_text="", description_text="") %}
<div id="logoutModal" class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-2xl shadow-lg max-w-md w-full p-6">
        {# Headers #}
        <div class="w-full h-[130px] flex items-center justify-center">
            <aside class="w-[100px] h-[100px] bg-gray-200 flex items-center justify-center rounded-full">
                <img src="{{ url_for('static', filename='icons/exit-2.png') }}" class="w-[45px] h-[45px]" />
            </aside>
        </div>


        <div class="flex justify-center items-center mb-4">
            <h3 class="text-2xl font-semibold text-gray-800">{{ header_text }}</h3>
        </div>

        {# Content #}
        <p class="text-gray-600 text-[16px] mb-6 flex justify-center items-center">
            {{ description_text }}
        </p>

        {# Buttons #}
        <div class="flex justify-center gap-3">
            <button onclick="document.getElementById('logoutModal').classList.add('hidden')" class="px-4 py-2 rounded-xl bg-gray-200 hover:bg-gray-300
                        text-gray-700 transition-colors w-1/2 h-[50px] font-semibold">
                Continuar aqui
            </button>
            <button type="submit" id="btn-confirm-logout" class="px-4 py-2 rounded-xl bg-red-600 hover:bg-red-700
                        text-white transition-colors w-1/2 h-[50px] font-semibold">
                Sim, desejo sair
            </button>
        </div>
    </div>
</div>
{% endmacro %}

{% macro modal_about_orkestro() %}
<div id="aboutOrkestroModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-2xl shadow-lg max-w-lg w-full p-6 relative">

        <button onclick="document.getElementById('aboutOrkestroModal').classList.add('hidden')"
            class="absolute top-3 right-3 text-gray-500 hover:text-gray-700">
            ✕
        </button>

        <h2 class="text-2xl font-bold text-gray-800 mb-4">
            Sobre o Orkestro
            <small id="versionProjectOrkestro" class="text-xs text-gray-500">versão 1.1.0</small>
        </h2>
        <p class="text-gray-600 leading-relaxed mb-4">
            A <strong>Orkestro</strong> é uma aplicação web completa para gerenciamento inteligente de
            <strong>cardápios,</strong>
            combinando <strong>automação via chatbot</strong> para melhorar a interação com o cliente e <strong>análises
                avançadas</strong> para
            apoiar decisões mais inteligentes.
        </p>


        <p class="text-gray-600 leading-relaxed">
            Essa é apenas a primeira versão (v1.1.0), mas acreditamos que a <strong>Orkestro</strong> pode
            evoluir para se tornar uma solução robusta e completa.
        </p>
        <div class="mt-6 text-right">
            <button onclick="document.getElementById('aboutOrkestroModal').classList.add('hidden')"
                class="px-4 py-2 bg-blue-600 text-white rounded-xl hover:bg-blue-700 transition">
                Fechar
            </button>
        </div>
    </div>
</div>
{% endmacro %}

{% macro modal_create_menu() %}
<div id="modalCreateMenuModal"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50">

    {# Content #}
    <div class="bg-white shadow-lg w-full max-w-md p-6 relative rounded-3xl">

        <button type="button" onclick="document.getElementById('modalCreateMenuModal').classList.add('hidden')"
            class="absolute top-3 right-3 text-gray-400 hover:text-gray-600 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        {# Title #}
        <h2 class="text-lg font-semibold text-gray-900 mb-4">
            Criar Novo Cardápio
        </h2>

        {# Forms #}
        <form class="space-y-4">
            <div>
                <label for="menu_name" class="block text-sm font-medium text-gray-700">
                    Nome
                </label>
                <input type="text" id="menu_name" name="name" required
                    class="mt-1 w-full border-gray-300 shadow-sm h-10 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
            </div>

            {# Description #}
            <div>
                <label for="menu_description" class="block text-sm font-medium text-gray-700">
                    Descrição
                </label>
                <textarea id="menu_description" name="description" rows="3" class="mt-1 w-full border-gray-300 shadow-sm
                         focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
            </div>

            {# Tipo de Cardápio (role) #}
            <div class="flex flex-col gap-2 w-full">
                <label for="role" class="text-sm font-semibold text-gray-700">
                    Tipo de Cardápio
                </label>

                <select id="role_menu" name="role" class="w-full px-4 py-2 rounded-xl border border-gray-300
               bg-white text-gray-700 text-sm
               focus:outline-none focus:ring-2 focus:ring-blue-500
               focus:border-blue-500
               transition duration-200 ease-in-out
               shadow-sm hover:border-gray-400">
                    <option value="COMMON">COMMON</option>
                    <option value="VIEWER">VIEWED</option>
                </select>

            </div>

            {# Actions #}
            <div class="flex flex-col gap-2">
                <button type="submit" id="btn-create-menu" class="px-4 py-2 rounded-lg bg-indigo-600 text-white
                       hover:bg-indigo-700 focus:outline-none focus:ring-2
                       focus:ring-indigo-500">
                    Confirmar
                </button>
                <button type="button" onclick="document.getElementById('modalCreateMenuModal').classList.add('hidden')"
                    class="px-4 py-2 rounded-lg border border-gray-300 text-gray-700
                       hover:bg-gray-50 focus:outline-none focus:ring-2
                       focus:ring-indigo-500">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro modal_edit_menu() %}
<div id="modalEditMenuModal"
    class="fixed inset-0 bg-black/40 backdrop-blur-[1.5px] flex items-center justify-center hidden z-50">

    {# Content #}
    <div class="bg-white rounded-3xl shadow-2xl border-2 border-gray-200 w-full max-w-md p-6 relative">

        <button type="button" onclick="document.getElementById('modalEditMenuModal').classList.add('hidden')"
            class="absolute top-3 right-3 text-gray-400 hover:text-gray-600 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        {# Title #}
        <h2 class="text-lg font-semibold text-gray-900 mb-4">
            Editar Cardápio
        </h2>

        {# Forms #}
        <form class="space-y-4">
            <div>
                <label for="menu_name" class="block text-sm font-medium text-gray-700">
                    Nome
                </label>
                <input type="text" id="menu_name_edit" name="name" required
                    class="w-full border border-gray-300 rounded-xl px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>

            {# Description #}
            <div>
                <label for="menu_description" class="block text-sm font-medium text-gray-700">
                    Descrição
                </label>
                <textarea id="menu_description_edit" name="description" rows="3" 
                class="mt-1 w-full border border-gray-300 shadow-sm h-[160px] rounded-xl p-2
                         focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm resize-none"></textarea>
            </div>

            {# Tipo de Cardápio (role) #}
            <div class="flex flex-col gap-2 w-full">
                <label for="role" class="text-sm font-semibold text-gray-700">
                    Tipo do Cardápio
                </label>

                <select id="role_menu_edit" name="role" class="w-full px-4 py-2 rounded-xl border border-gray-300
               bg-white text-gray-700 text-sm
               focus:outline-none focus:ring-2 focus:ring-blue-500
               focus:border-blue-500
               transition duration-200 ease-in-out
               shadow-sm hover:border-gray-400">
                    <option value="COMMON">COMMON</option>
                    <option value="VIEWER">VIEWED</option>
                </select>

            </div>

            {# Actions #}
            <div class="flex flex-col gap-1">
                <button type="submit" id="btn-edit-menu" class="flex items-center justify-center w-full h-[60px]
                    bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-700
                    hover:from-indigo-600 hover:to-indigo-800
                    text-white font-semibold
                    rounded-2xl shadow-md hover:shadow-lg
                    transition-all duration-200
                    active:scale-95">
                    Confirmar
                </button>
                <button type="button" onclick="document.getElementById('modalEditMenuModal').classList.add('hidden')"
                    class="flex items-center justify-center w-full h-[60px]
                    bg-white border border-gray-300
                    hover:bg-gray-100
                    text-gray-700 font-semibold
                    rounded-2xl shadow-sm hover:shadow
                    transition-all duration-200
                    active:scale-95">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro modal_qr_code() %}
<div id="modalQRCodeModal"
    class="fixed inset-0 bg-black/40 backdrop-blur-[1.5px] flex items-center justify-center hidden z-50">
    <div
        class="bg-white shadow-2xl border-2 border-gray-200 w-full max-w-md p-6 relative rounded-3xl flex flex-col gap-2">
        <button class="absolute top-4 right-4 text-gray-400 hover:text-gray-600 transition"
            onclick="document.getElementById('modalQRCodeModal').classList.add('hidden')">
            ✕
        </button>
        <h2 class="text-2xl font-semibold text-gray-800 text-left">
            QR Code
        </h2>

        <div class="flex justify-between items-center border-b mb-1 mt-1"></div>

        <div class="w-full flex justify-center items-center bg-gray-50 border border-gray-200 h-[410px] rounded-3xl">

            <section id="QRCodeSection"
                class="w-[85%] h-[85%] flex justify-center items-center bg-white rounded-2xl shadow-inner">
            </section>
        </div>

        <div class="flex justify-between items-center border-b mb-1 mt-1"></div>

        <div class="flex flex-col items-center justify-center w-full gap-1">

            <button class="flex items-center justify-center w-full h-[60px]
            bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-700
            hover:from-indigo-600 hover:to-indigo-800
            text-white font-semibold
            rounded-2xl shadow-md hover:shadow-lg
            transition-all duration-200
            active:scale-95" id="btn-generate-qrcode">
                Gerar QRCode
            </button>

            <button class="flex items-center justify-center w-full h-[60px]
            bg-white border border-gray-300
            hover:bg-gray-100
            text-gray-700 font-semibold
            rounded-2xl shadow-sm hover:shadow
            transition-all duration-200
            active:scale-95" onclick="document.getElementById('modalQRCodeModal').classList.add('hidden')">
                Fechar
            </button>
        </div>
    </div>
</div>
{% endmacro %}

{% macro modal_contact_menu(contact_number) %}
<div id="modalContactMenuModal"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-80 text-center relative">
        <button onclick="document.getElementById('modalContactMenuModal').classList.add('hidden')"
            class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
            ✕
        </button>

        <h2 class="text-xl font-semibold text-gray-800 mb-4">Contato</h2>

        <p class="text-lg font-bold text-blue-600">
            NUMERO DE CONTATO
        </p>
    </div>
</div>
{% endmacro %}

{% macro modal_create_category() %}
<div id="modalCreateCategory"
    class="fixed inset-0 bg-black/40 backdrop-blur-[1.5px] flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-3xl shadow-2xl border-2 border-gray-200 w-11/12 max-w-md p-6 relative">
        {# Botão Fechar #}
        <button id="closeModal"
            class="absolute top-3 right-3 text-gray-500 hover:text-gray-800 font-bold text-xl">&times;</button>

        <h2 class="text-2xl font-bold mb-4">Criar Nova Categoria</h2>

        <div class="flex justify-between items-center border-b mb-3 mt-1"></div>

        <form id="formCreateCategory" class="flex flex-col gap-4">
            <div>
                <label for="categoryName" class="block text-gray-700 font-semibold mb-1">Nome da Categoria <small id="" class="text-[15px] text-red-500 pb-2">*</small></label>
                <input type="text" id="categoryName" name="name"
                    class="w-full border border-gray-300 rounded-xl px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    required> 
                            
            </div>
            <div>
                <label for="categoryDescription" class="block text-gray-700 font-semibold mb-1">Descrição</label>
                <textarea id="categoryDescription" name="description"
                    class="w-full h-[170px] border border-gray-300 rounded-xl px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none"
                    rows="3" cols="70" required></textarea>
            </div>

            <div class="flex justify-between items-center border-b mb-1"></div>

            {# Botões #}
            <div class="flex flex-col justify-center gap-1">
                <button id="btn-confirm-create-category" type="submit" class="flex items-center justify-center w-full h-[60px]
                        bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-700
                        hover:from-indigo-600 hover:to-indigo-800
                        text-white font-semibold
                        rounded-2xl shadow-md hover:shadow-lg
                        transition-all duration-200
                        active:scale-95">
                    Confirmar
                </button>
                <button type="button" id="cancelCreateCategory"
                    class="flex items-center justify-center w-full h-[60px]
                        bg-white border border-gray-300
                        hover:bg-gray-100
                        text-gray-700 font-semibold
                        rounded-2xl shadow-sm hover:shadow
                        transition-all duration-200
                        active:scale-95">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro modal_confirm_operation(header_text="Undefined", description_text="Undefined", id_btn_confirm="",
modal_id="modalConfirmOperation") %}
<div id="{{ modal_id }}" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-lg shadow-lg max-w-md w-full p-6">
        {# Headers #}
        <div class="flex justify-between items-center mb-4">
            <h3 class="text-2xl font-semibold text-gray-800">{{ header_text }}</h3>
            <button type="button" title="Fechar" class="flex items-center justify-center hover:text-gray-600 rounded-full
                        w-[45px] h-[45px] transition hover:bg-gray-100"
                onclick="document.getElementById('{{ modal_id }}').classList.add('hidden')">
                <img src="{{ url_for('static', filename='icons/close-2.png') }}" alt="Statistics" class="w-5 h-5 flex
                    items-center justify-center">
            </button>
        </div>

        {# Content #}
        <p class="text-gray-600 mb-6">
            {{ description_text }}
        </p>

        {# Buttons #}
        <div class="flex justify-end gap-3">
            <button onclick="document.getElementById('{{ modal_id }}').classList.add('hidden')"
                class="px-4 py-2 rounded bg-gray-200 hover:bg-gray-300 text-gray-700 transition-colors">
                Cancelar
            </button>
            <button type="submit" id={{ id_btn_confirm }} class="px-4 py-2 rounded bg-red-600 hover:bg-red-700 text-white transition-colors
                ">
                Confirmar
            </button>
        </div>
    </div>
</div>
{% endmacro %}

{% macro modal_menu_status() %}
<div id="modalMenuStatus" class="fixed inset-0 bg-black/40 backdrop-blur-[1.5px] flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-lg shadow-lg max-w-md w-full p-6">

        <h2 class="text-xl font-bold text-gray-800 mb-4">Status do Cardápio</h2>

        {# Switch ON/OFF #}
        <div class="flex items-center space-x-3">
            <button id="menuToggle" type="button"
                class="relative inline-flex h-6 w-11 items-center rounded-full bg-gray-300 transition-colors focus:outline-none"
                role="switch" aria-checked="false">
                <span class="inline-block h-4 w-4 transform rounded-full bg-white transition-transform"></span>
            </button>

            <span id="menuStatusText" class="text-red-600 font-medium">
                Cardápio Desativado
            </span>
        </div>

        <div>
            {{ alerts.alert_forms(
            type="info", alert_base_class="notify-status-changed",
            alert_message_class="notify-status-changed-msg") }}
        </div>

        <div class="flex flex-col gap-1 mt-6">
            <button id="btnConfirmStatus" class="flex items-center justify-center w-full h-[60px]
            bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-700
            hover:from-indigo-600 hover:to-indigo-800
            text-white font-semibold
            rounded-2xl shadow-md hover:shadow-lg
            transition-all duration-200
            active:scale-95">
                Salvar
            </button>
            <button id="btnCancelStatus"
                class="flex items-center justify-center w-full h-[60px]
            bg-white border border-gray-300
            hover:bg-gray-100
            text-gray-700 font-semibold
            rounded-2xl shadow-sm hover:shadow
            transition-all duration-200
            active:scale-95">
                Fechar
            </button>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toggleBtn = document.getElementById("menuToggle");
        const statusText = document.getElementById("menuStatusText");
        const notifyStatusChanged = $(".notify-status-changed")
        const notifyStatusChangedMsg = $(".notify-status-changed-msg")
        const menuStatusSidebar = $(".menu-status-in-sidebar")

        $.ajax({
            url: `/api/menus/${menuId}/status`,
            method: "GET",
            success: function (response) {
                const statusMenu = Boolean(response.data);
                toggleBtn.setAttribute("aria-checked", statusMenu);

                if (statusMenu) {
                    toggleBtn.classList.add("bg-green-500");
                    toggleBtn.querySelector("span").classList.add("translate-x-5");
                    statusText.textContent = "Cardápio Ativado";
                    statusText.classList.add("text-green-600");
                } else {
                    toggleBtn.classList.add("bg-gray-300");
                    toggleBtn.querySelector("span").classList.add("translate-x-0");
                    statusText.textContent = "Cardápio Desativado";
                    statusText.classList.add("text-red-600");
                }

                toggleBtn.addEventListener("click", () => {
                    const isActive = toggleBtn.getAttribute("aria-checked") === "true";

                    if (isActive) {
                        toggleBtn.setAttribute("aria-checked", "false");
                        toggleBtn.classList.remove("bg-green-500");
                        toggleBtn.classList.add("bg-gray-300");
                        toggleBtn.querySelector("span").classList.remove("translate-x-5");
                        toggleBtn.querySelector("span").classList.add("translate-x-0");
                        statusText.textContent = "Cardápio Desativado";
                        statusText.classList.remove("text-green-600");
                        statusText.classList.add("text-red-600");
                        // menuStatusSidebar.text("Fechado");
                        // menuStatusSidebar.addClass("text-[16px] font-bold text-center bg-red-300 text-red-700 pl-2 pr-2 mt-2 w-[90%] rounded-full");
                    } else {
                        toggleBtn.setAttribute("aria-checked", "true");
                        toggleBtn.classList.remove("bg-gray-300");
                        toggleBtn.classList.add("bg-green-500");
                        toggleBtn.querySelector("span").classList.remove("translate-x-0");
                        toggleBtn.querySelector("span").classList.add("translate-x-5");
                        statusText.textContent = "Cardápio Ativado";
                        statusText.classList.remove("text-red-600");
                        statusText.classList.add("text-green-600");
                        // menuStatusSidebar.text("Aberto");
                        // menuStatusSidebar.addClass("text-[16px] font-bold text-center bg-green-300 text-green-800 pl-2 pr-2 mt-2 w-[90%] rounded-full");
                    }
                });
            },
            error: function (xhr) {
                // console.error("Error ON/OFF:", xhr.responseText);
            }
        });

        document.getElementById("btnCancelStatus").addEventListener("click", () => {
            document.getElementById("modalMenuStatus").classList.add("hidden");
        });

        document.getElementById("btnConfirmStatus").addEventListener("click", () => {
            const isActive = toggleBtn.getAttribute("aria-checked") === "true";
            console.log(isActive)
            $.ajax({
                url: `/api/menus/${menuId}/status`,
                method: "PATCH",
                success: function (response) {
                    // console.log("Response ON/OFF:", response);
                    notifyStatusChanged.removeClass("hidden")
                    notifyStatusChangedMsg.text("Cardápio atualizado para: " + (isActive ? "ativado" : "desativado"))

                    menuStatusSidebar.removeClass("bg-green-300 text-green-800 bg-red-300 text-red-700");
                    if (isActive) {
                        menuStatusSidebar.text("Aberto");
                        menuStatusSidebar.addClass("bg-green-300 text-green-800");
                    } else {
                        menuStatusSidebar.text("Fechado");
                        menuStatusSidebar.addClass("bg-red-300 text-red-700");
                    }

                    setTimeout(() => {
                        notifyStatusChanged.addClass("hidden")
                    }, 2500)
                },
                error: function (xhr) {
                    // console.error("Error ON/OFF:", xhr.responseText);
                }
            });

        });
    });
</script>
{% endmacro %}

{% macro opening_hours() %}
<div id="modalOpeningHours" class="fixed inset-0 bg-black/40 backdrop-blur-[1.5px] flex items-center justify-center hidden z-50">
    <div class="bg-white w-full max-w-lg rounded-2xl shadow-lg p-6">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Horários de Funcionamento</h2>
        <form id="openingHoursForm" class="space-y-3">
            {% set days = ["Segunda", "Terca", "Quarta", "Quinta", "Sexta", "Sabado", "Domingo"] %}
            {% for day in days %}
            <div class="flex items-center justify-between gap-3 border-b border-gray-200 pb-2">
                <span class="w-24 font-medium text-gray-700">{{ day }}</span>
                <div class="flex gap-2">
                    <input id="{{ day | lower }}_open" type="time" name="{{ day|lower }}_open"
                        class="border rounded-lg p-2 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none" />
                    <span class="text-gray-500">às</span>
                    <input id="{{ day | lower }}_close" type="time" name="{{ day|lower }}_close"
                        class="border rounded-lg p-2 text-sm focus:ring-2 focus:ring-blue-500 focus:outline-none" />
                </div>
            </div>
            {% endfor %}
        </form>

        <div class="flex flex-col end mt-6 gap-3">
            <button type="submit" form="openingHoursForm"
                class="px-4 py-2 rounded-lg bg-blue-600 text-white hover:bg-blue-700 transition">
                Confirmar
            </button>
            <button type="submit" id="restoreHoursBtn"
                class="px-4 py-2 rounded-lg bg-red-600 text-white hover:bg-red-700 transition">
                Restaurar
            </button>
            <button type="button" id="cancelModalBtn"
                class="px-4 py-2 rounded-lg border border-gray-300 hover:bg-gray-100 transition">
                Fechar
            </button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        const modal = document.getElementById('modalOpeningHours');
        const cancelBtn = document.getElementById('cancelModalBtn');

        function openOpeningHoursModal() {
            modal.classList.remove('hidden');
        }

        function closeOpeningHoursModal() {
            modal.classList.add('hidden');
        }

        cancelBtn.addEventListener('click', closeOpeningHoursModal);

        document.getElementById('openingHoursForm').addEventListener('submit', function (e) {
            e.preventDefault();
            const data = new FormData(this);
            const entries = Object.fromEntries(data.entries());
            console.log(entries);
            closeOpeningHoursModal();
        });
    })
</script>
{% endmacro %}

{% macro modal_add_product() %}
<div id="modalAddProduct"
    class="fixed inset-0 bg-black/40 backdrop-blur-[1.5px] flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-lg shadow-lg max-w-md w-full p-6 relative">
        <button id="closeModalAddProduct" class="absolute top-3 right-3 text-gray-500 hover:text-gray-700 font-bold"
            onclick="document.getElementById('modalAddProduct').classList.add('hidden')">
            &times;
        </button>

        <h2 class="text-xl font-bold text-gray-800 mb-4">Adicionar Produto</h2>

        <div class="flex justify-between items-center border-b mb-3"></div>

        <form id="formAddProduct" class="space-y-4">
            <div>
                <label for="productName" class="block text-gray-700 font-medium mb-1">Nome do Produto <small id="" class="text-[15px] text-red-500 pb-2">*</small></label>
                <input type="text" id="productName" name="name"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Digite o nome do produto" required />
            </div>

            <div>
                <label for="productPrice" class="block text-gray-700 font-medium mb-1">Preço (R$) <small id="" class="text-[15px] text-red-500 pb-2">*</small></label>
                <input type="number" step="0.01" id="productPrice" name="price"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="0.00" required />
            </div>

            <div>
                <label for="productDescription" class="block text-gray-700 font-medium mb-1">Descrição</label>
                <textarea id="productDescription" name="description" rows="3"
                    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Digite a descrição do produto" required></textarea>
            </div>

            <div class="flex justify-between items-center border-b mb-1"></div>

            <div class="flex flex-col justify-start gap-1 mt-2">

                <button id="btn-confirm-add-product" type="submit" class="flex items-center justify-center w-full h-[60px]
            bg-gradient-to-r from-indigo-500 via-indigo-600 to-indigo-700
            hover:from-indigo-600 hover:to-indigo-800
            text-white font-semibold
            rounded-2xl shadow-md hover:shadow-lg
            transition-all duration-200
            active:scale-95">
                                Confirmar
                </button>

                <button type="button" id="cancelAddProduct"
                    class="flex items-center justify-center w-full h-[60px]
            bg-white border border-gray-300
            hover:bg-gray-100
            text-gray-700 font-semibold
            rounded-2xl shadow-sm hover:shadow
            transition-all duration-200
            active:scale-95"
                    onclick="document.getElementById('modalAddProduct').classList.add('hidden')">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro modal_edit_category(modal_id="modalEditCategory") %}
<div id="{{ modal_id }}"
    class="fixed inset-0 bg-black/40 backdrop-blur-[1.5px] flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-3xl shadow-2xl border-2 border-gray-200 w-full max-w-lg p-6 relative">
        <div class="flex justify-between items-center border-b pb-3 mb-4">
            <h2 class="text-2xl font-semibold text-gray-800">Editar Categoria</h2>
            <button type="button" class="text-gray-400 hover:text-gray-600 transition"
                onclick="document.getElementById('{{ modal_id }}').classList.add('hidden')">
                ✕
            </button>
        </div>

        <form id="formEditCategory" class="space-y-5">
            <div>
                <label for="editCategoryName" class="block text-sm font-medium text-gray-700 mb-1">
                    Nome da Categoria
                </label>
                <input type="text" id="editCategoryName" name="name"
                    class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
                    placeholder="Digite o nome da categoria" required>
            </div>

            <div>
                <label for="editCategoryDescription" class="block text-sm font-medium text-gray-700 mb-1">
                    Descrição
                </label>
                <textarea id="editCategoryDescription" name="description" rows="3"
                    class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none resize-none"
                    placeholder="Digite a descrição da categoria"></textarea>
            </div>

            <div class="flex justify-end gap-3 pt-4 border-t">
                <button type="button"
                    class="px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 transition"
                    onclick="document.getElementById('{{ modal_id }}').classList.add('hidden')">
                    Cancelar
                </button>

                <button type="submit" id="btnConfirmEditCategory"
                    class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro modal_edit_product(modal_id="modalEditProduct") %}
<div id="{{ modal_id }}"
    class="fixed inset-0 bg-black/40 backdrop-blur-[1.5px] flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-2xl shadow-xl w-full max-w-lg p-6 relative">
        <div class="flex justify-between items-center border-b pb-3 mb-4">
            <h2 class="text-2xl font-semibold text-gray-800">Editar Produto</h2>
            <button type="button" title="Fechar" class="flex items-center justify-center hover:text-gray-600 rounded-full
                        w-[45px] h-[45px] transition hover:bg-gray-100"
                onclick="document.getElementById('{{ modal_id }}').classList.add('hidden')">
                <img src="{{ url_for('static', filename='icons/close-2.png') }}" alt="Statistics" class="w-5 h-5 flex
                    items-center justify-center">
            </button>
        </div>

        <form id="formEditProduct" class="space-y-5">
            <div>
                <label for="editProductName" class="block text-sm font-medium text-gray-700 mb-1">
                    Nome do Produto
                </label>
                <input type="text" id="editProductName" name="name"
                    class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
                    placeholder="Digite o nome do produto" required>
            </div>

            <div>
                <label for="editProductDescription" class="block text-sm font-medium text-gray-700 mb-1">
                    Descrição
                </label>
                <textarea id="editProductDescription" name="description" rows="3"
                    class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none resize-none"
                    placeholder="Digite a descrição do produto"></textarea>
            </div>

            <div>
                <label for="editProductPrice" class="block text-sm font-medium text-gray-700 mb-1">
                    Preço
                </label>
                <input type="number" step="0.01" id="editProductPrice" name="price"
                    class="w-full border border-gray-300 rounded-lg p-2.5 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none"
                    placeholder="Digite o preço do produto" required>
            </div>

            <div class="flex flex-col gap-1 pt-4 border-t">
                <button type="submit" id="btnConfirmEditProduct"
                    class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
                    Salvar
                </button>
                <button type="button"
                    class="px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 transition"
                    onclick="document.getElementById('{{ modal_id }}').classList.add('hidden')">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro modal_about_store(modal_id="modalAboutStore", menuId="") %}
<div id="{{ modal_id }}" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50">
    <div class="bg-white rounded-2xl shadow-xl w-full max-w-lg p-6 relative">
        <button onclick="document.getElementById('{{ modal_id }}').classList.add('hidden')"
            class="absolute top-4 right-4 text-gray-500 hover:text-gray-700">
            &times;
        </button>

        <section>
            <h2>Sobre</h2>
            <p class="text-sm pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
        </section>

        <section>
            <h2 class="text-xl font-bold mb-4">Horários de Funcionamento</h2>
            <ul id="hours-container-list" class="space-y-2 text-gray-800">
                {# Horários serão inseridos aqui dinamicamente via JS #}
            </ul>
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {
        function getAllHoursInMenu(menu_id) {
            $.ajax({
                url: `/api/menus/${menu_id}/opening-hours`,
                method: "GET",
                success: function (res) {
                    const hours = res.data;
                    const list = $("#hours-container-list");
                    list.empty();

                    if (!hours || hours.length === 0) {
                        list.append('<li class="text-red-500 italic">Nenhum horário cadastrado.</li>');
                        return;
                    }

                    const orderedDays = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"];
                    const daysInPortuguese = {
                        monday: "Segunda-feira",
                        tuesday: "Terça-feira",
                        wednesday: "Quarta-feira",
                        thursday: "Quinta-feira",
                        friday: "Sexta-feira",
                        saturday: "Sábado",
                        sunday: "Domingo"
                    };

                    const sortedHours = hours.sort((a, b) => orderedDays.indexOf(a.day) - orderedDays.indexOf(b.day));

                    sortedHours.forEach(hour => {
                        const open = hour.open || "--:--";
                        const close = hour.close || "--:--";
                        const dayName = daysInPortuguese[hour.day] || hour.day;

                        const li = `
                        <li class="flex justify-between items-center bg-gray-100 p-2 rounded-md">
                            <span class="font-medium">${dayName}</span>
                            <span class="text-sm text-gray-600">${open} - ${close}</span>
                        </li>
                    `;
                        list.append(li);
                    });
                },
                error: function (xhr) {
                    const responseError = xhr.responseText;
                    alert("Erro ao carregar horários: " + responseError);
                }
            });
        }
        getAllHoursInMenu("{{ menuId }}");
    });
</script>
{% endmacro %}


{% macro modal_order_details(modal_id="") %}
<div id="{{ modal_id }}" class="fixed inset-0 bg-black bg-opacity-50 hidden z-50 flex items-center justify-center">
    <div class="bg-white rounded-2xl shadow-xl p-6 w-[750px] relative">

        <button class="absolute top-3 right-3 text-gray-600 hover:text-gray-800" onclick="closeModal('{{ modal_id }}')">
            ✕
        </button>

        <h2 class="text-xl font-semibold text-gray-800 mb-4">Detalhes do Pedido</h2>

        <section class="mb-4 border-b pb-4">
            <h3 class="text-lg font-medium text-gray-700 mb-2">Informações do Cliente</h3>
            <p class="text-lg"><span class="font-semibold">Nome:</span> <span id="{{ modal_id }}_client_name"></span>
            </p>
            <p class="text-lg"><span class="font-semibold">Telefone:</span> +<span
                    id="{{ modal_id }}_client_phone"></span></p>
            <p class="text-lg"><span class="font-semibold">Endereço:</span> <span
                    id="{{ modal_id }}_client_address"></span></p>
            <p class="text-lg"><span class="font-semibold">Número:</span> <span
                    id="{{ modal_id }}_client_number"></span></p>
            <p class="text-lg"><span class="font-semibold">Método de Pagamento:</span> <span
                    id="{{ modal_id }}_client_payment"></span> Crédito/Débito/Pix/Dinheiro</p>
        </section>

        <section class="mb-6">
            <h3 class="text-lg font-medium text-gray-700 mb-2">Items do Pedido</h3>
            <ul id="{{ modal_id }}_order_items" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-3
                flex items-center justify-center">
                {# Aqui será preenchido via JS #}
            </ul>
        </section>

        <div class="flex items-center text-lg font-semibold text-gray-800">
            <span>Total: R$</span>
            <span id="{{ modal_id }}_order_total" class="pl-1"></span>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        window.openModal = function (id) {
            document.getElementById(id).classList.remove("hidden");

        }
        window.closeModal = function (id) {
            document.getElementById(id).classList.add("hidden");
        }
    });
</script>
{% endmacro %}

{% macro modal_finish_order(modal_id="") %}
<div id="{{ modal_id }}" class="fixed inset-0 bg-black bg-opacity-40 hidden z-50 flex items-center justify-center">

    <div class="bg-white rounded-xl shadow-lg p-6 w-[420px] relative">

        <button class="close-modal absolute top-3 right-3 text-gray-500 hover:text-gray-700 text-xl">
            &times;
        </button>

        <div class="space-y-4">
            <h2 class="text-xl font-semibold mb-1 text-left text-gray-800">
                Informações do Cliente
            </h2>
            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-medium">Seu nome completo
                    <small id="" class="text-[15px] text-red-500 pb-2">*</small>
                </label>
                <input id="modalCustomerName" type="text" autofocus placeholder="Escreva seu nome completo"
                    class="border rounded-lg h-[50px] p-2 mt-1 bg-white focus:ring-2 focus:ring-blue-300 pl-3 text-base">
            </div>

            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-medium">Número de telefone
                    <small id="" class="text-[15px] text-red-500 pb-2">*</small>
                </label>
                <input id="modalCustomerTelephone" type="text" placeholder="(xx) xxxxx-xxxx"
                    class="border rounded-lg h-[50px] p-2 mt-1 bg-white focus:ring-2 focus:ring-blue-300 pl-3 text-base">
            </div>

            <h2 class="text-xl font-semibold mb-1 text-left text-gray-800">
                Informações de Entrega
            </h2>
            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-medium">Endereço de entrega
                    <small id="" class="text-[15px] text-red-500 pb-2">*</small>
                </label>
                <input id="modalCustomerAddress" type="text" placeholder="Seu endereço"
                    class="border rounded-lg h-[50px] p-2 mt-1 bg-white focus:ring-2 focus:ring-blue-300 pl-3 text-base">
            </div>

            <div class="flex flex-col">
                <label class="text-gray-700 text-sm font-medium">Número da residência
                    <small id="" class="text-[15px] text-red-500 pb-2">*</small>
                </label>
                <input id="modalCustomerNumber" type="number" placeholder="Número da sua residência"
                    class="border rounded-lg h-[50px] p-2 mt-1 bg-white focus:ring-2 focus:ring-blue-300 pl-3 text-base">

            </div>
        </div>

        <div class="flex justify-between flex-col mt-4 gap-1">
            <button class="confirm-order bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded-lg font-semibold">
                Avançar
            </button>
            <button class="close-modal bg-gray-300 hover:bg-gray-400 text-gray-800 px-4 py-2 rounded-lg font-medium">
                Cancelar
            </button>
        </div>

    </div>
</div>
{% endmacro %}

{% macro modal_confirm_address(modal_id="") %}
<div id="modalConfirmAddress" class="fixed inset-0 bg-black bg-opacity-40 hidden z-50 flex items-center justify-center">
    <div class="bg-white rounded-xl shadow-lg p-6 w-[420px] relative">
        <button class="close-modal absolute top-3 right-3 text-gray-500 hover:text-gray-700 text-xl">
            &times;
        </button>
    </div>
</div>
{% endmacro %}

{% macro modal_order_placed(modal_id="") %}
<div id="{{ modal_id }}" class="fixed inset-0 bg-black bg-opacity-40 hidden z-50 flex items-center justify-center">
    <div class="bg-white rounded-2xl shadow-2xl p-8 w-[420px] relative animate-[fadeIn_0.25s_ease-out]">

        <div class="w-16 h-16 mx-auto mb-4 flex items-center justify-center rounded-full bg-green-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-green-600" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
        </div>

        <h2 class="text-2xl font-semibold text-center text-gray-800 mb-2">
            Pedido Concluído!
        </h2>

        <p class="text-center text-gray-600 mb-6">
            Seu pedido foi processado com sucesso. Em breve entraremos em contato para confirmar os detalhes.
        </p>

        <div class="flex justify-center">
            <button
                class="px-5 py-2 bg-green-600 hover:bg-green-700 text-white font-medium rounded-lg transition-all btn-order-placed-finish"
                onclick="document.getElementById('{{ modal_id }}').classList.add('hidden')">
                Ok, entendi
            </button>
        </div>
    </div>
</div>
{% endmacro %}