.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.submenu.open {
    max-height: 500px; /* valor maior que a altura total do submenu */
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
