<section class="w-full h-[90px] bg-gray-900 border-t border-gray-200 flex items-center justify-center px-6 ">
    <div class="h-[90px] w-3/4 flex items-center justify-between">
        <div class="flex items-center gap-4">
            <!--
            <div class="relative">
            <span class="absolute -top-2 -right-2 bg-red-600 text-white text-xs font-bold
                         rounded-full px-2 py-0.5 shadow">
                0
            </span>
                <img src="{{ url_for('static', filename='icons/cart.png') }}" alt="Cart"
                     class="w-10 h-10 mr-3 brightness-0 invert">
            </div>

            <div class="flex flex-col leading-tight">
                <span class="text-sm text-white">Itens selecionados</span>
                <span class="text-xl font-bold text-white">R$ 00,00</span>
            </div>
            -->
        </div>
        {% if strategy["menu_roles"] == "COMMON" %}
        <div class="gap-4">
            <button class="bg-red-600 hover:bg-red-700 text-white font-semibold
                   px-6 py-3 rounded-xl shadow transition btn-finish-order"
                    title="Finalizar pedido">
                Ver Carrinho
            </button>
        </div>
        {% endif %}
    </div>
</section>