<aside class="w-full bg-gray-900 text-gray-300 py-[25px] mt-8 flex flex-col items-center justify-center">
    <div class="text-lg font-semibold text-white tracking-wide">
        Orkestra © 2025 | version 1.0.0
    </div>
</aside>