<nav class="w-full bg-white shadow-md">
    <ul class="flex gap-8 justify-end items-center pr-16 py-4 h-28">
        {% if strategy["url"] == "/signin" %}
            <li>
                {{ buttons.button_redirect(endpoint="homepage_frontend.views_homepage", text="Início") }}
            </li>
            <li>
                {{ buttons.button_redirect(endpoint="authorizations_frontend.views_login", text="Entrar") }}
            </li>
            <li>
                {{ buttons.button_redirect(endpoint="authorizations_frontend.views_register", text="Criar Conta") }}
            </li>
        {% elif strategy["url"] == "/signup" %}
            <li>
                {{ buttons.button_redirect(endpoint="homepage_frontend.views_homepage", text="Início") }}
            </li>
            <li>
                {{ buttons.button_redirect(endpoint="authorizations_frontend.views_login", text="Entrar") }}
            </li>
            <li>
                {{ buttons.button_redirect(endpoint="authorizations_frontend.views_register", text="Criar Conta") }}
            </li>
        {% elif strategy["url"] == "/home" %}
            <li>
                {{ buttons.button_redirect(endpoint="homepage_frontend.views_homepage", text="Início") }}
            </li>
            <li>
                {{ buttons.button_redirect(endpoint="authorizations_frontend.views_login", text="Entrar") }}
            </li>
            <li>
                {{ buttons.button_redirect(endpoint="authorizations_frontend.views_register", text="Criar Conta") }}
            </li>
        {% endif %}
    </ul>
</nav>
